/*
    CSS for signup page.
    Ver: 1.0
    By: Brendan Lin
*/
.logo {
    text-align: center;
    font-size: 20pt;
}

#title {
    margin-top: 20%;
    margin-right: 12%;
}

#title2 {
    margin-bottom: 20%;
    position: relative;
    left: 45%;
    bottom: 3%;
    width: 20%;
}

.card {
    width: 70%;
    position: relative;
    left: 15%;
}

#create {
    text-align: center;
    margin-bottom: 10%;
    font-size: 18pt;
}

body {
    background-color: whitesmoke;
}

span {
    float: left;
    clear: left;
    margin-left: 5%;
}

i {
    color: black;
}